#description{
    background-color: #393939;
    min-height: 100vh;
    height: 100%;
    color: white;
    padding:10px 20px;
    
}

#description img{
    margin:auto;
    height: 150px;
    width: 150px;
    display: block;
}

#details p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 160%;
}

#detail h2{
    font-family: Helvetica;
}

#details a{
    color: rgb(0, 238, 255);
}

#days{
    float: right;
    color:white;
    background-color: #292929;
    font-size: 20px;
}

